$dark-color: #4c4c4c;
$light-color: #979797;
$light-hover-color: #bababa;
$dark-in-between-color: #666666;
$separating-line-color: #777777;
$hardcore-text-color: white;
$important-text-color: #d4d4d4;
$text-color: $light-color;
$error-color: #d37676;
$bad-color: #983c3c;
$good-color: #91C8A4;
$yellow-color: #91C8A4;

$translucent-modal-background: #979797a6;

$button-font-size: 1rem;
$button-height: 3rem;

$normal-text-size: 1.25rem;
$big-text-size: 1.5rem;

